.seed-next {
	float: right;
}
.seed-prev {
	float: left;
}
.seed {
	border: 0;
	clear: both;
	overflow: auto;
	text-align: center;
}
.seed input {
	width: 6em;
	margin-left: auto;
	margin-right: auto;
}
.seed button {
	margin: 0;
}
