<fieldset>
	<input class="manualInput" min="0" max="20" value="0" type="number" ng-model="fsFilterControl.distortion">
	<label>Distortion</label>
	<input type="range" min="0" max="20" value="0" ng-model="fsFilterControl.distortion">
</fieldset>

<fieldset>
	<input class="manualInput" type="number" min="1" max="15" value="0" ng-model="fsFilterControl.smoothness">
	<label>Smoothness</label>
	<input type="range" min="1" max="15" value="0" ng-model="fsFilterControl.smoothness">
</fieldset>

<fieldset>
	<label>Scaling</label>
	<input class="manualInput" type="number" min="50" max="200" value="0" ng-model="fsFilterControl.scaling">
	<input type="range" min="50" max="200" value="0" ng-model="fsFilterControl.scaling">
</fieldset>

<fieldset>
	<label for="invert" class="rightLabel">Invert</label>
	<input id="invert" type="checkbox" value="value1" ng-model="fsFilterControl.invert">
</fieldset>
