<fieldset>
	<input class="manualInput" min="0" max="100" value="0" type="number" ng-model="fsFilterControl.amount">
	<label>Noise amount</label>
	<input type="range" min="0" max="100" value="0" ng-model="fsFilterControl.amount">
</fieldset>
